.list-category{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border: 1px solid hsla(202, 48%, 5%, 0.388);
  background-color:rgba(125, 199, 15, 0.779);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.list-items li{
  list-style: none;
  padding: 10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;

 margin: 0;
}
.list-items li:hover{
  background-color:rgba(204, 211, 178, 0.473);
}